<p>
  <a href="/credits">Credits</a> 0
</p>

<p>
  <a href="https://github.com/leereilly/github-high-scores">Fork me on GitHub</a>!
  <a href="http://twitter.com/share?url=http%3A%2F%2Fdev.twitter.com%2Fpages%2Ftweet-button" target="_blank">Tweet this!</a>
</p>

<p class="copyright">&copy; <a href="http://www.leereilly.net">Lee Reilly</a> 2016</p>
