<p>
  <a href="/credits">Credits</a> 0
</p>

<p>
  <a href="https://github.com/leereilly/github-high-scores">Fork me on GitHub</a>!
  <a href="http://twitter.com/share?text=Check+out+the+high+score+chart+for+your+GitHub+repo%21&url=http%3A%2F%2Fgitscore.herokuapp.com%2F" target="_blank">Tweet this!</a>
</p>

<p class="copyright">&copy; <a href="http://www.leereilly.net">Lee Reilly</a> 2016</p>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23602389-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
