  <title>GitHub High Scores</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <link href="img/favicon.png" type="image/png" rel="shortcut icon" />
  <link href="img/favicon.png" type="image/png" rel="icon" />
  <link href="css/style.css" type="test/css" rel="stylesheet" />
