<%= erb :header %>
<h2>About</h2>
<p><strong>Git</strong> is an extremely fast, efficient, distributed version control system ideal for the collaborative development of software.</p>
      
<p><strong>git路hub</strong> is the best way to collaborate with others. Fork, send pull requests and manage all your <strong>public</strong> and <strong>private</strong> git repositories.</p>

<p><strong>git路hub路high路scores</strong> is a fun way to rank Github repository contributors in a 8-bit, 80's-tastic viewing environment.</p>

<%= erb :footer %>