<%= erb :header %>
<h2>Credits</h2>
<p>Running with Ruby, Sinatra, Passenger on a shared Dreamhost server</p>
<p>Powered by the Github API</p>
<p>Written by Lee Reilly</p>
<p>Octocat logo used with permission</p>
<%= erb :footer %>