<p class="center"><blink><a href="/credits">Credits</a> 0</blink></p>
<p class="center"><strike>&copy; Lee Reilly 2011</strike> <a href="https://github.com/leereilly/github-high-scores">Fork me on Github</a>! <a href="http://twitter.com/share?url=http%3A%2F%2Fdev.twitter.com%2Fpages%2Ftweet-button" target="_blank">TWEET THIS!</a></p>
</p> 
<p class="center">[<a href="/about">about</a>] [contact] [<a href="/help">help</a>] [<a href="/recent_searches">recent searches</a>]</p>
</div>
</div>

	</body>
</html>