<p class="center">
	<blink>
		<a href="/credits">Credits</a> 0
	</blink>
</p>
<p class="center"><a href="https://github.com/leereilly/github-high-scores">Fork me on Github</a>! <a href="http://twitter.com/share?url=http%3A%2F%2Fdev.twitter.com%2Fpages%2Ftweet-button" target="_blank">TWEET THIS!</a></p>
</p> 
<p class="center">[<a href="/about">about</a>] [<a href="/help">help</a>] [<a href="/recent_searches">recent searches</a>]</p>
<p class="copyright">&copy; Lee Reilly 2011</p>
</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23602389-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	</body>
</html>