<%= erb :header %>

<h2>Help</h2>

<h3>What on Earth is a Git? A Github? You did what with your what now?</h3>
<p>Please check out the '<a href='/about'>about</a>' section for a general overview.
	
<h3>How do I view the high scores for my Github repository?</h3>
<p>Simply enter the URL of your Github repository into the search box. Currently we support the following formats...</p>
<ul>
	<li>http://www.github.com/mojombo/octobeer</li>
	<li>https://www.github.com/mojombo/octobeer</li>
	<li>git@github.com:mojombo/octobeer</li>
	<li>git://github.com/mojombo/octobeer</li>
	<li>github.com/mojombo/octobeer</li>
	<li>www.github.com/mojombo/octobeer</li>
	<li>mojombo/octobeer</li>
</ul>

<h3>It's Not Working!</h3>
<p>Please create an issue in the Github repository</p>

<h3>I'd Like To Contribute</h3>
<p>You know what to do! #fork #pullRequest</p>

<h3>This looks like a web site from the 80s! Running it through the Geocitiesizer is actually an improvement!!!</h3>
<p>Cheers! :BEER:</p>

<%= erb :footer %>