<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>

<div class="fl-right">
  <form action='/' method="GET">
    <input type="text" name="repo" class="small" />
    <input type="submit" value="1 UP" class="small" />
  </form>
</div>

<h1 class="left"><a href="/">GitHub High Scores</a></h1>

<div class="wrapper">

<h2>About</h2>
<p class="align-left"><strong>Git</strong> is an extremely fast, efficient, distributed version control system ideal for the collaborative development of software.</p>
      
<p class="align-left"><strong>git路hub</strong> is the best way to collaborate with others. Fork, send pull requests and manage all your <strong>public</strong> and <strong>private</strong> git repositories.</p>

<p class="align-left"><strong>git路hub路high路scores</strong> is a fun way to rank GitHub repository contributors in a 8-bit, 80's-tastic viewing environment.</p>

</div>

<% include ../partials/footer.ejs %>

</body>
</html>
