<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>

<h1 class="left"><a href="/">GitHub High Scores</a></h1>

<div class="wrapper">

<h2>Credits</h2>

<p class="align-left">Running with Node.js, Express and EJS on a free Heroku server</p>
<p class="align-left">Also using the validator package</p>
<p class="align-left">Powered by the GitHub API</p>
<p class="align-left">Written by Lee Reilly</p>
<p class="align-left">Octocat logo used with permission</p>

</div>

<% include ../partials/footer.ejs %>

</body>
</html>
