<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>

<h1 class="left"><a href="/">GitHub High Scores</a></h1>

<h2><%= title %></h2>
<p><%= error %></p>

<div class="align-center">
	<img src="/img/octocat.png">
</div>

<% include ../partials/search.ejs %>

<% include ../partials/footer.ejs %>

</body>
</html>
